
    body {
      font-family: Helvetica, sans-serif;
    }

    .grid {
      width: 70%;
      margin: auto;
    }

    .input {
      margin-top: 50px;
      height: 30px;
    }

    #image-container {
      display: flex;
    }

    canvas {
      background: rgba(255, 192, 203, 0.178);
      border-radius: 5px;

    }

    .textInput {
      padding: 20px 20px;
      width: 200px;
      color: rgb(226, 71, 97)
    }

    .textInput input {
      margin-top: 10px;
      margin-bottom: 10px;
    }

    #topLineText,
    #bottomLineText {
      height: 25px;
      width: 200px;
      border-radius: 5px;
    }

    #topLineText:hover,
    #bottomLineText:hover {
      cursor: pointer;
    }

    #saveBtn {
      width: 200px;
      font-size: 20px;
      border-radius: 5px;
      background: rgb(226, 71, 97);
      color: white;
      padding: 5px 0;

    }


@media screen and (min-width: 320px) {
  .grid {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

#image-container {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 375px) {
  .grid {
    display: flex;
    flex-direction: column;
    width: 90%;
  }
}

@media screen and (min-width: 768px) {
  .grid {
  display: flex;
  flex-direction: column;
  }
}

@media screen and (min-width: 1024px) {
  .grid {
    display: flex;
    flex-direction: column;
    width: 70%;
  }
  #image-container {
    display: flex;
    flex-direction: row;
  }

}